@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: outfit;
}

a.active hr {
    display: block;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 640px) {
    a.active {
        background-color: black;
        color: white;
    }
}

body {
    @apply bg-white text-gray-800 dark:bg-gray-900 dark:text-gray-200;
}

header, footer {
    @apply bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-100;
}
